body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    background-image: url('https://cdn.pixabay.com/photo/2016/10/22/21/54/industry-1761801_1280.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
  }
  
  .login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 3px solid #33313162;
    border-radius: 8px;
    font-size: 1rem;
  }

  .login-container button {
    width: 100%;
    padding: 12px;
    background-color: #0063c7;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
  }
  
  .login-container button:hover {
    background-color: #538ac0;
  }
  
  .login-container .register {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
  }
  .login-container .register a {
    color: #0066cc;
    text-decoration: none;
  }
  
