/* A good practice to make layout sizing more intuitive */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: 
    linear-gradient(rgb(236, 114, 14), rgba(0, 0, 0, 0.5)),
    url('https://cdn.pixabay.com/photo/2016/10/22/21/54/industry-1761801_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 
.login-container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px; /* Adjusted max-width for a slightly sleeker look */
  text-align: center; /* Center align all content inside the container */
}
 
.login-container h2 {
  margin-top: 0; /* Removed default top margin */
  margin-bottom: 25px;
  color: #333;
}
 
.login-container form {
  display: flex;
  flex-direction: column; /* Stack form elements vertically */
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px; /* Spacing between inputs */
  border: 1px solid #ccc; /* Simplified border for a cleaner look */
  border-radius: 8px;
  font-size: 1rem;
  background-color: #d5dfd6;
}

.login-container p {
  margin: 10px 0; /* Add some space between the links */
  margin-top: 5px;
  font-size: 0.9rem;
  text-align: left;
}

.login-container a {
  margin: 0px 0; /* Add some space between the links */
  font-size: 0.9rem;
  text-align: right;
  color: #007bff;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}


.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #28a745; /* A more standard blue color */
  color: white;
  border: none;
  border-radius: 8px; /* Matched input border-radius */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Smoother transition */
}
 
.login-container button:hover {
  background-color: #218838; /* Darker shade for hover */
}
 
.login-container .links {
  margin-top: 20px;
  font-size: 0.9rem;
}

.login-container .links p {
  margin: 10px 0; /* Add some space between the links */
  margin-top: 5px;
  font-size: 0.9rem;
  text-align: center;
}


.login-container .links a {
  color: #007bff;
  text-decoration: none;
}

.login-container .links a:hover {
  text-decoration: underline;
}
